@import "reset";
@import "common";
@import "colors";

@import url(//fonts.googleapis.com/css?family=Alegreya+Sans:500);

html {
  font-size: 125%;
  font-family: "Alegreya Sans", Arial, sans-serif;
  font-weight: 500;
  line-height: 1em;
}

body {
  background-color: $background;

  @include box-shadow(0, 0, 10rem, $shadow, true);
  @include posabs(0, 0, 0, 0);
}

#tacdom {
  font-family: Arial, sans-serif;

  @include posabs(0, 0, 0, 0);
}

.dialog {
  background-color: $light;
  color: $shadow;
  display: inline-block;
  margin: auto;
  padding: 1rem;

  @include box-shadow(0, 0, 1rem, $faded, true);
  @include posabs(0, 0, 0, 0);
}

span.dialog {
  line-height: 3rem;
  text-align: center;

  @include size(7rem, 5rem);
}

form.dialog {
  border-radius: 1rem;

  @include size(20rem, 6.5rem);
}

form label, form input {
  display: block;
  height: 1.5rem;
  margin: 0.5rem auto;
  padding: 0.15rem;
  text-align: center;
}

form label {
  line-height: 1.2rem;
}

form input {
  border: 0;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: inherit;

  @include box-shadow(0, 0, 0.5rem, $faded, true);
  @include placeholder {
    color: $faded;
  }
}

.frame {
  border: 0;
  margin: auto;
  padding: 1rem;

  @include  posabs(0, 0, 0, 0);
}

.-space-view {
  display: none;
}

.-space-view.active {
  display: block;
}